body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #131842;
    padding: 20px;
    margin: 0;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-top: 4px solid #674188;
}

h2{
    color: #674188;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}

.table-container{
    margin-top: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

th, td{
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th{
    background-color: #674188;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: #e2bfd9;
}
tr:hover{
    background-color: #ebe9e8;
}
.errorMsg{
    color: #c82333;
    margin-bottom: 15px;
}

/* 20:18 time vr  jaun parat css kadh*/